doctype html
html 
    head 
        title WEB - #{_title}
        meta(charset="utf-8")
    body 
        h1 
            a(href="/") WEB 
        h1
            form(action="/auth/login" method="post")
                p
                    input(type="text" name="email" placeholder="email")
                p 
                    input(type="password" name="pwd" placeholder="password")
                p
                    input(type="submit" value="login") 